doctype html
html
  head
    title Learn to code HTML,CSS and JavaScript
    meta(name="description", content="This itss a HTML replica of w3schools.com")
    link(rel="stylesheet", href="style.css")
  body
    header
      a.current(href="/") Home
      a(href="/html") HTML
      a(href="/css") CSS
      a(href="/javascript") JavaScript
    article
      h1 This is a replica of w3schools.com
      p With HTML you can create your own Website. This tutorial teaches you everything about HTML. HTML is easy to learn - You will enjoy it. 
      h2 HTML
      p The language for building webpages.#[a(href="/html") Check it out !]
      h2 CSS
      p The language for styling webpages.#[a(href="/css") Check it out !]
      h2 Javascript
      p The language for programing webpages.#[a(href="/javascript") Discover the way up !]
    nav
      h3 HTML and CSS
      a(href="/HTML") Learn HTML
      a(href="/CSS") Learn CSS
      a(href="/JavaScript") Learn Javascript
    footer &copy; 2018 My name is awesome !